<div style="padding-left: 10px; padding-top: 15px;">



	<div class="form-group">
		<label for="businessName" class="col-sm-2 control-label input-sm" style="text-align: left">Company Name</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="businessName" placeholder="Name of the business" required popover="Please enter the name of the business." popover-title="Business Name" popover-trigger="focus" popover-placement="top">
		</div>
		<label for="businesAs" class="col-sm-2 control-label input-sm" style="text-align: left">Doing Business As</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="businesAs"  placeholder="If different from legal name">
		</div>
	</div>

	<div class="form-group">
		<label for="code" class="col-sm-2 control-label input-sm" style="text-align: left;">Business Description</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="businessNature" placeholder="Business Description">
		</div>


	</div>

	<div class="form-group">
		<label for="desiredLoanAmount" class="col-sm-2 control-label input-sm" style="text-align: left">Requested Loan $</label>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon input-sm">$</div>
				<input type="text" class="form-control input-sm" id="desiredLoanAmount"  placeholder="">
			</div>
		</div>
		<label for="desiredLoanTerm"  class="col-sm-2 control-label input-sm" style="text-align: left">Requested Loan Term</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="loanTerm"  placeholder="">
		</div>
	</div>
	<div class="form-group">
		<label for="businessLoanPurpose" class="col-sm-2 control-label input-sm" style="text-align: left">Purpose of Loan</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="businessLoanPurpose"  placeholder="Purpose of Loan">
		</div>
	</div>
	<div class="form-group" style="padding-top: 5px; ">
		<label for="address1" class="col-sm-2 control-label input-sm" style="text-align: left">Address Line 1</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="address1"  placeholder="Line 1 of Address">
		</div>
		<label for="address2" class="col-sm-2 control-label input-sm" style="text-align: left">Address Line 2</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="address2"  placeholder="Line 2 of Address">
		</div>
	</div>
	<div class="form-group">
		<label for="addressCity" class="col-sm-2 control-label input-sm" style="text-align: left">City / Province</label>
		<div class="col-sm-2">
			<input type="text" class="form-control input-sm" id="addressCity"  placeholder="City">
		</div>
		<div class="col-sm-2">
			<select class="form-control input-sm" id="addressProvince">
				<option value="AB">Alberta</option>
				<option>British Columbia</option>
				<option>P.E.I</option>
				<option>Newfoundland</option>
				<option>New Brunswick</option>
				<option>Manitoba</option>
				<option>Saskatchewan</option>
				<option>Nova Scotia</option>
				<option>Ontario</option>
				<option>Quebec</option>
				<option>Nunavut</option>
				<option>N.W.T.</option>
				<option>Yukon</option>
			</select>
		</div>
		<label for="addressPostalCode" class="col-sm-2 control-label input-sm" style="text-align: left">Postal Code</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="addressPostalCode"  placeholder="Postal Code">
		</div>
	</div>
	<div class="form-group" style="padding-top: 5px;">
		<label for="businessPhone" class="col-sm-2 control-label input-sm" style="text-align: left">Telephone #</label>
		<div class="col-sm-4">
			<input type="tel" class="form-control input-sm" id="businessPhone"  placeholder="Phone number">
		</div>
		<label for="businessContactName" class="col-sm-2 control-label input-sm" style="text-align: left">Contact Name</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="businessContactName"  placeholder="Contact Name">
		</div>
	</div>


	
	<div class="form-group">
		<label for="formOfBusiness" class="col-sm-2 control-label input-sm" style="text-align: left">Form of Business</label>
		<div class="col-sm-4">
			<select id="formOfBusiness" class="form-control input-sm">
				<option>Registered Partnership</option>
				<option>Sole Proprietorship</option>
				<option>Corporation</option>
				<option>Unregistered BFS</option>
			</select>
		</div>
		<label for="businessInceptionDate" class="col-sm-2 control-label input-sm" title="Inception Date of Applicants Business" style="text-align: left">Inception Date/Months</label>
		<div class="col-sm-2">
			<input type="date" class="form-control input-sm" id="businessInceptionDate"  placeholder="Business Inception Date">
		</div>
		<div class="col-sm-2">
			<input type="number" class="form-control input-sm" id="businessInceptionDate" readonly placeholder="Months">
		</div>
	</div>
	<div class="form-group">
		<label for="businessTaxId" class="col-sm-2 control-label input-sm" style="text-align: left">Business Tax Number</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="businessTaxId"  placeholder="Business Tax Number">
		</div>
	</div>
	<div class="form-group">
		<label for="businessSicCode" class="col-sm-2 control-label input-sm" style="text-align: left">SIC Code</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="businessSicCode"  placeholder="SIC Code">
		</div>
		<label for="businessNaicsCode" class="col-sm-2 control-label input-sm" style="text-align: left">NAICS Code <a title="Click here to lookup your NAICS Code" href="#">(Look Up)</a></label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="businessNaicsCode"  placeholder="Business NAICS Code">
		</div>
	</div>

</div>