<!-- ############################################################### -->
<!-- Self Reported -->
<!-- ############################################################### -->
<div style="padding-left: 10px; padding-top: 15px;">
	<div class="alert alert-info" role="alert">
		<p>Please note a key element of On Deck's ability to assess your loan application is our ability to assess the average cash flows of your business. The information requested below is an intrigal part of that assessment.
		</p>
	</div>
	<div class="form-group">
		<label for="revenue"  class="col-sm-2 control-label input-sm" style="text-align: left">Annual Revenue $</label>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon input-sm">$</div>
				<input type="text" class="form-control input-sm" id="revenue"  placeholder="">
			</div>
		</div>
	</div>

	<div class="alert alert-warning" role="alert">
		<p>Scan and upload 3 - 6 months of business banking statements.
		</p>
	</div>
	<div class="form-group">

		<div class="col-sm-12">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr class="active">
						<th data-field="select"  style="text-align: center;">Select</th>
						<th data-field="documentDescription">Description</th>
						<th data-field="documentId">Filename</th>
						<th data-field="documentDate">Date</th>
					</tr>
				</thead>
				<tr>
					<td  style="text-align: center;"><input type="checkbox"></td>
					<td>January - March</td>
					<td>Q1Statements.pdf</td>
					<td>Oct 27, 2014</td>
				</tr>
				<tr>
					<td style="text-align: center;"><input type="checkbox"></td>
					<td>April - June</td>
					<td>Q2Statements.pdf</td>
					<td>Oct 27, 2014</td>
				</tr>
			</table>
		</div>

	</div>
	<div class="form-group">
		<label for="averageBalance"  class="col-sm-2 control-label input-sm" style="text-align: left">Average Balance</label>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon input-sm">$</div>
				<input type="text" class="form-control input-sm" id="averageBalance"  placeholder="">
			</div>
		</div>
		<div class="col-sm-5"  style="padding-top:0; padding-bottom: 5px;">
			<button type="button" class="btn btn-default btn-sm" popover="Click here to add a new statement to the application" popover-trigger="mouseenter">Add Statement</button>
			<button type="button" class="btn btn-default btn-sm" popover="Click here to remove the statement fro mthe application" popover-trigger="mouseenter">Remove Statement</button>
		</div>

	</div>
	<div class="alert alert-warning" role="alert">
		<p>Do you have a Corporate Credit Card Account that has been open more than 3 months? If so :
		</p>
	</div>


	<div class="form-group">

		<label for="averageCreditCardVolume"  class="col-sm-2 control-label input-sm" style="text-align: left">Credit Card Balance</label>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon input-sm">$</div>
				<input type="text" class="form-control input-sm" id="averageCreditCardVolume"  placeholder="">
			</div>
		</div>
		<label for="transactionCount" class="col-sm-2 control-label input-sm" style="text-align: left">Monthly Transactions</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="transactionCount"  placeholder="">
		</div>
	</div>


	<div class="alert alert-warning" role="alert">
		<p>Do you have a Merchant Cash Advance loan facility, if so:
		</p>
	</div>
	<div class="form-group">
		<label for="mcaBalance"  class="col-sm-2 control-label input-sm" style="text-align: left">Merchant Cash Advance Balance</label>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon input-sm">$</div>
				<input type="text" class="form-control input-sm" id="mcaBalance"  placeholder="">
			</div>
		</div>
		<!-- <label for="separateBusinessBankAccount"  class="col-sm-2 control-label input-sm" style="text-align: left">Separate Business Account</label>
		<div class="col-sm-3">
							<input type="checkbox" class="form-control input-sm" id="separateBusinessBankAccount"  placeholder="">
		</div> -->
	</div>
	<div class="form-group" style="padding-top: 5px;">
		<label for="landlordPhone" class="col-sm-2 control-label input-sm" style="text-align: left">Landloard Telephone #</label>
		<div class="col-sm-4">
			<input type="tel" class="form-control input-sm" id="landlordPhone"  placeholder="Phone number">
		</div>
		<label for="landlordName" class="col-sm-2 control-label input-sm" style="text-align: left">Landlord Name</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="landlordName"  placeholder="Contact Name">
		</div>
	</div>

</div>