<div style="padding-left: 10px; padding-top: 15px;">


	<!-- ############################################################### -->
	<!-- Credit Union Name & Address -->
	<!-- ############################################################### -->
	<div class="form-group" style="padding-top: 5px; ">
		<label for="creditUnionName" class="col-sm-2 control-label input-sm" style="text-align: left">Credit Union/Bank</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="creditUnionName"  placeholder="Name of the credit union or bank">
		</div>
	</div>
	<div class="form-group" style="">
		<label for="creditUnionAddress1" class="col-sm-2 control-label input-sm" style="text-align: left">Address Line 1</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="creditUnionAdress1"  placeholder="Line 1 of Address">
		</div>
		<label for="creditUnionAddress2" class="col-sm-2 control-label input-sm" style="text-align: left">Address Line 2</label>
		<div class="col-sm-4">
			<input type="text" class="form-control input-sm" id="creditUnionAddress2"  placeholder="Line 2 of Address">
		</div>
	</div>
	<div class="form-group">
		<label for="creditUnionAddressCity" class="col-sm-2 control-label input-sm" style="text-align: left">City / Province</label>
		<div class="col-sm-2">
			<input type="text" class="form-control input-sm" id="creditUnionAddressCity"  placeholder="City">
		</div>
		<div class="col-sm-2">
			<select class="form-control input-sm" id="creditUnionAddressProvince">
				<option value="AB">Alberta</option>
				<option>British Columbia</option>
				<option>P.E.I</option>
				<option>Newfoundland</option>
				<option>New Brunswick</option>
				<option>Manitoba</option>
				<option>Saskatchewan</option>
				<option>Nova Scotia</option>
				<option>Ontario</option>
				<option>Quebec</option>
				<option>Nunavut</option>
				<option>N.W.T.</option>
				<option>Yukon</option>
			</select>
		</div>
		<label for="creditUnionAddressPostalCode" class="col-sm-2 control-label input-sm" style="text-align: left">Postal Code</label>
		<div class="col-sm-3">
			<input type="text" class="form-control input-sm" id="creditUnionAddressPostalCode"  placeholder="Postal Code">
		</div>
	</div>


	<!-- ############################################################### -->
	<!-- End of Credit Union Name & Address -->
	<!-- ############################################################### -->

</div>